$secondary-color: #eece1a;

//Page About Me
#presentation {
  height: 50vh;
  .bio-container {
    width: 100%;

    display: flex;
    background-color: red;

    .about-me-portrait {
      background-color: yellow;
      display: grid;
      width: 30%;
      height: 100%;
      place-items: center;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 3px $secondary-color;
      }
    }
    #bio {
      width: 60%;
      margin: auto;
    }
  }
}
.container {
  height: 50vh;
  .skillsk-and-knowledge-boxes {
    background: gold;
  }
}
